name: Deploy Danmu Project

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install and Build Frontend
        run: |
          npm install
          npm run build

      - name: Upload Frontend to Temp Folder
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          source: "dist/*"
          target: "/home/ubuntu/danmu_temp"
          strip_components: 1

      - name: Deploy and Restart Services
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            # 1. Deploy Frontend using sudo
            sudo rm -rf /opt/1panel/www/sites/43.143.121.223/index/*
            sudo cp -r /home/ubuntu/danmu_temp/* /opt/1panel/www/sites/43.143.121.223/index/
            sudo rm -rf /home/ubuntu/danmu_temp

            # 2. Update Backend
            cd /opt/1panel/apps/danmu-tools
            sudo git pull origin master

            # 3. Restart Docker Containers
            sudo docker-compose up --build -d
            sudo docker image prune -f
